In [ ]:
!pip install -r requirements.txt
import sys
import os
sys.path.append(os.path.abspath("../src"))

In [3]:
import numpy as np

In [7]:
data = np.load(r"C:\Users\justi\Desktop\Project\musinsa\DATA\fashion_item_embeddings.npz")

In [11]:
data.files

['embeddings', 'ids']

In [12]:
import pandas as pd

df = pd.DataFrame({
    "id": data['ids'],
    "embedding": list(data['embeddings'])
})

df.head()

       id                                          embedding
0   70061  [0.032476712, -0.019968277, 0.035264064, 0.014...
1   70067  [0.02395833, -0.016741961, -0.027360152, 0.002...
2   70110  [0.08464767, -0.036331747, -0.0037757864, 0.00...
3   92526  [0.046388216, -0.026725968, -0.012186382, -0.0...
4  120970  [0.032829322, -0.09306562, -0.038002647, 0.005...

In [20]:
# embedding 컬럼 → (N, D) numpy array
emb_matrix = np.vstack(df['embedding'].values)

target_id = 4804544

target_idx = df.index[df['id'] == target_id][0]
target_embedding = emb_matrix[target_idx]

# 벡터 정규화
norm_emb = emb_matrix / np.linalg.norm(emb_matrix, axis=1, keepdims=True)
norm_target = target_embedding / np.linalg.norm(target_embedding)

# cosine similarity
similarities = norm_emb @ norm_target

top_k = 10

top_indices = np.argsort(similarities)[::-1]

# 자기 자신 제외
top_indices = top_indices[top_indices != target_idx][:top_k]

result = df.iloc[top_indices][['id']].copy()
result['similarity'] = similarities[top_indices]

result

            id  similarity
23300  4307038    0.829132
23301  4307041    0.824774
35658  4804567    0.820171
23302  4307044    0.817677
58129  5549629    0.805766
54459  5367638    0.797106
38774  4900613    0.784960
28687  4496900    0.783678
26431  4408187    0.783556
23535  4311973    0.775322